<!-- <h1>Products index</h1> -->
<div id="cover_image">
	<%= image_tag image_path('147190361.jpg') %>
</div>
<br>


<div id="menu_wrapper">
	<div class="table">
		<ul id="horizontal_list">
			<li><%= link_to 'home', "/products" %></li>
			<li><%= link_to 'log in', "/sessions/new" %></li>
			<li><%= link_to 'sign up', "/users/new" %></li>
			<li><%= link_to 'add an item', "/products/new" %></li>
 		</ul>
 	</div>
</div>

<div class="product_wrapper">

	<div class="product_holder">

			<% @products.each do |product| %>
			<%= link_to image_tag(product.url, size: "135x200"), "/products/#{product.id}" %>		
			<% end %>

	</div>

</div>